{% comment %}
  Code Tabs Component
  
  This include creates a tabbed interface for showing multiple code examples.
  
  Parameters:
  - id: A unique identifier for the tabs component
  - tabs: Array of tab objects, each with a 'title' and 'content'
{% endcomment %}

<div class="code-tabs" id="{{ include.id }}">
  <div class="tab-buttons">
    {% for tab in include.tabs %}
    <button class="tab-button" data-tab="{{ forloop.index }}">{{ tab.title }}</button>
    {% endfor %}
  </div>
  
  <div class="tab-contents">
    {% for tab in include.tabs %}
    <div class="tab-content" data-tab="{{ forloop.index }}">
      {% highlight python %}
{{ tab.content }}
      {% endhighlight %}
      
      {% if tab.description %}
      <div class="tab-description">
        {{ tab.description | markdownify }}
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>